{% extends 'app1/base.html' %}
{% block body %}
{% load static %}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script>
  $(document).ready(function() {
    var i = 1;
    $("#add_row").click(function() {
      b = i - 1;
      $('#addr' + i).html($('#addr' + b).html()).find('td:first-child').html(i + 1);
      $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
      i++;
    });
    $("#delete_row").click(function() {
      if (i > 1) {
        $("#addr" + (i - 1)).html('');
        i--;
      }
      calc();
    });
    $('#tab_logic tbody').on('keyup change', function() {
      calc();
    });

    $('#tax').on('keyup change', function() {
      calc_total();
    });
  });

  function calc() {
    $('#tab_logic tbody tr').each(function() {
      var html = $(this).html();
      if (html != '') {
        var qty = $(this).find('.qty').val();
        var price = $(this).find('.price').val();
        var tax = $(this).find('.tax').val();
        $(this).find('.total').val(parseFloat(qty * price));
        $(this).find('.taxamount').val(parseFloat((qty * price) * (parseFloat(tax) / 100)));
        calc_total();
      }
    });
  }

  function calc_total() {
    total = 0;
    $('.total').each(function() {
      total += parseFloat($(this).val());
    });
    taxamount = 0.0;
    $('.taxamount').each(function() {
      taxamount += parseFloat($(this).val());
    });
    $('#subtotal').val(parseFloat(total.toFixed(2)));
    
    $('#grandtotal').val(parseFloat((taxamount + total).toFixed(2)));
    $('#baldue').val(parseFloat((taxamount + total).toFixed(2)));

    calc_tcs();
  }

  function calc_tcs() {
            tcsamount = 0;
            var a = document.getElementById("tcs1").value

            tcs=0
            tcs =a/100 * total

           

           
            $('#tcs_amount').val(parseFloat((a/100) *total.toFixed(2)));
           

            $('#grandtotal').val(parseFloat((taxamount + total+tcs).toFixed(2)));

            $('#baldue').val(parseFloat((taxamount + total+tcs) .toFixed(2)));


            
            test()
        }



  function test(){

var bc = document.getElementById("plosu").value

d=0
if (bc == "{{ cmp1.state }}" ) {
    gst = taxamount/2
    $('#cgst').val(parseFloat(gst.toFixed(2)));
    $('#sgst').val(parseFloat(gst.toFixed(2)));
    $('#igst').val(parseFloat(d.toFixed(2)));
  
    }
    
if (bc != "{{ cmp1.state }}" ) {
    $('#tax_amount').val(parseFloat(taxamount.toFixed(2)));
    $('#cgst').val(d.toFixed(2));
    $('#sgst').val(d.toFixed(2));
}

}


function calc_roundoff(){

var amount =taxamount + total + tcs

let x =Math.round(amount)

$('#round_off').val(parseFloat(x.toFixed(2)));
$('#grandtotal').val(parseFloat(x.toFixed(2)));
$('#baldue').val(parseFloat(x .toFixed(2)));
}

  
</script>

<script>
    var item_row_counter = 1

    function add_item_row() {
        old_item_row_count = item_row_counter
        item_row_counter++;

        $('#items-table-body >tr:last').clone(true).insertAfter('#items-table-body >tr:last');
        $('#items-table-body >tr:last input').val('');

        $('#items-table-body >tr:last td')[0].innerHTML = item_row_counter
        update_amounts($('#items-table-body input[name=total1]:last'));
    }

    function setup_rows() {
        $("#addrow").click(function(event) {
        event.preventDefault();
        add_item_row();
        });

        for (var i = 0; i <= 4; i++) {
            add_item_row();
        }
    }
</script>


<style>
  input {
    background-color: #2f516f;
    border: 0;
    border-radius: 5px;
    color: white;
  }
</style>
<form action="createsales_record" method="post" class="needs-validation" enctype="multipart/form-data"  novalidate >{% csrf_token %}
        
    <div class="page-content">
        <h2 id="hel"></h2>
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center><h2 class="mb-0" id="estno">NEW ADJUSTMENT</h2></center>
                </div>
                <hr/>
            </div>
        </div>
        <div class="card radius-15">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <!-- <center><h2>Fin sYs</h2></center> -->
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                     
                        <label for="validationCustom01"
                        style="color: white;">Mode of Adjustment</label>
                 <select name="type" class="form-control" 
                           style="background-color: #2a4964; color: white;"
                           required>
                           <option selected disabled value="">Choose...</option>
                         <option value="Quandity">Quandity Adjustment</option>
                     <option value="Value">Value Adjustment</option></select>
                    </div>
                    
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label class="col-form-label">Reference Number</label>
                        <label for="billingaddress"></label>
                        <input class="form-control" type="text" id="bname" name="Reference">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3 mt-2">
                        <label for="">Date *</label>
                        <input type="date" class="form-control" id="date" name="date" placeholder="">
                    </div>
                    
                    <div class="col-md-3">
                        <label class="col-form-label">Account *</label>
                        <select name="type" class="form-control" 
                           style="background-color: #2a4964; color: white;"
                           required>
                           <option selected disabled value="">Choose...</option>
                           {% for a in acc %}
                         <option value="{{ a.name }}">{{ a.name }}</option>
                         {% endfor %}
                    
                    </select>
                    
                    </div>
                    <div class="col-md-3 ">
                        <label class="col-form-label">Reason * </label>
                        <div class="d-flex">
                        <select name="type" class="form-control" 
                        style="background-color: #2a4964; color: white;"
                        required>
                        <option selected disabled value="">Choose...</option>
                        {% for a in accc %}
                      <option value="{{ a.name }}">{{ a.name }}</option>
                      {% endfor %}
                      <option value="Stock on fire">Stock on fire</option>
                      <option value="Stolen goods">Stolen goods</option>
                      <option value="Damaged goods">Damaged goods</option>
                      <option value="Stock Written off">Stock Written off</option>
                      <option value="Inventory Revaluation">Inventory Revaluation</option>
                 
                 </select>
                 <a href="#">
                    <button type="button" class="btn btn-outline-secondary ml-1" 
                    data-target="#newreason" data-toggle="modal">+</button>
                </a>
            </div>
        </div>
    </div>
          <div class="row">
            <div class="col-md-3 mt-3">
              <label class="col-form-label">Description</label>
             <textarea rows="5" class="form-control"  ></textarea>
            </div>
            <div class="col-md-3 mt-3"></div>
            <div class="col-md-3 mt-3"></div>
            <div class="col-md-3 mt-3"></div>
          </div>
          <div class="row clearfix">
            <div class="col-md-12 table-responsive-md mt-3">
              <table class="table table-bordered table-hover mt-3" id="tab_logic">
                <thead>
                  <tr>
                    
                    <th class="text-center" >Item details</th>
                    <th class="text-center">Quandity Available</th>
                    <th class="text-center">New Quandity on hand</th>
                    <th class="text-center">Quandity Adjusted</th>
                    
                    
                  </tr>
                </thead>
                <tbody id="items-table-body">
                  <tr >
                    
                    <td style="width: 20%;">

                        <div class="d-flex">
                            <select name='product[]' id="product" class="form-control" style="background-color: #2f516f; color: white; ">
                                <option selected disabled value="">Select Item</option>
                                
                                {% for i in item %}
                                
                                    <option 
                                            value="{{ i.name  }}">{{ i.name  }} </option>
                                
                            {% endfor %}
        
                              </select>

                        </div>
                      
                     
                    </td>
                    <td><input type="text" name='hsn[]' id="hsn1" placeholder='Enter HSN Code' class="form-control" style="background-color: #2f516f; color: white;" /></td>
                    <td><input type="text" name='description[]' id="description" placeholder='Description' class="form-control" style="background-color: #2f516f; color: white;" /></td>
                    <td><input type="number" name='qty[]' onchange="qtychange1(this)" placeholder='Enter Qty' id="qty1" value=0 class="form-control qty" step=0 min=0 style="background-color: #2f516f; color: white;" />
                      <span id="qtyspan" class='text-muted'></span>
                    </td>
                    

                </tbody>
                <tr>
                    <td style="border: none;"><a class="btn btn-outline-secondary ml-1" role="button" id="addrow" onclick="add_item_row()">+</a></td>
                </tr>
              </table>

            </div>
          </div>
          <div class="row clearfix" style="margin-top:20px">
            <div class="col-md-6">

                <input type="file" name="file"  style="margin-top: 10px; width: 70%;">
            </div>

           
            
        </div>


        
          <div class="row">
            <div class="col-md-10 mt-3"></div>
            <div class="col-md-2 mt-3">
              <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left">
                Save To Draft
              </button>
            </div>
          </div>
          <div class="notices mt-3">
            <div class="text-muted">NOTICE:</div>
            <div class="text-muted">
              Fin sYs Terms and Conditions Apply
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</form>




<!-- modal item -->





<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>


<script>
  function state(element) {
      
      if (element.value == 'Kerala' ) {
          document.getElementById('CGST').style.display = 'block';
          document.getElementById('SGST').style.display = 'block';
          document.getElementById('IGST').style.display = 'none';
          
          
      } else {
          document.getElementById('CGST').style.display = 'none';
          document.getElementById('SGST').style.display = 'none';
          document.getElementById('IGST').style.display = 'block';
      }
  }
</script>


<script>
  function showinp(divId, element) {
    if (element.value == 'Add New Term') {
      document.getElementById(divId).style.display = 'block';
    } else {
      document.getElementById(divId).style.display = 'none';
    }
  }

  function addtemopt(element) {
    var opt = document.getElementById('trmopt');

    if (element.value) {
      opt.value = element.value;
      opt.innerHTML = element.value;
    } else {
      pass
    }
  }

  function qtychange1(element) {
    var tx = parseInt(element.value);
    document.getElementById('qty11').value = parseInt(document.getElementById('qty111').value) * tx;
    document.getElementById('qty12').value = parseInt(document.getElementById('qty121').value) * tx;
    document.getElementById('qty13').value = parseInt(document.getElementById('qty131').value) * tx;
    document.getElementById('qty14').value = parseInt(document.getElementById('qty141').value) * tx;
  }

  function qtychange2(element) {
    var tx = parseInt(element.value);
    document.getElementById('qty21').value = parseInt(document.getElementById('qty211').value) * tx;
    document.getElementById('qty22').value = parseInt(document.getElementById('qty221').value) * tx;
    document.getElementById('qty23').value = parseInt(document.getElementById('qty231').value) * tx;
    document.getElementById('qty24').value = parseInt(document.getElementById('qty241').value) * tx;
  }

  function qtychange3(element) {
    var tx = parseInt(element.value);
    document.getElementById('qty31').value = parseInt(document.getElementById('qty311').value) * tx;
    document.getElementById('qty32').value = parseInt(document.getElementById('qty321').value) * tx;
    document.getElementById('qty33').value = parseInt(document.getElementById('qty331').value) * tx;
    document.getElementById('qty34').value = parseInt(document.getElementById('qty341').value) * tx;
  }

  function qtychange4(element) {
    var tx = parseInt(element.value);
    document.getElementById('qty41').value = parseInt(document.getElementById('qty411').value) * tx;
    document.getElementById('qty42').value = parseInt(document.getElementById('qty421').value) * tx;
    document.getElementById('qty43').value = parseInt(document.getElementById('qty431').value) * tx;
    document.getElementById('qty44').value = parseInt(document.getElementById('qty441').value) * tx;
  }
</script>
<script>
  $(document).ready(function() {
    $('#select').on('change', function() {
      select = $('#select').val();
      $.ajax({
        type: "GET",
        url: "{% url 'getdata' %}",
        data: {
          id: select
        }
      }).done(function(response) {
        var json_data = JSON.parse(response);
        for (key in json_data) {
          document.getElementById('email').value = json_data[key]['email']
          
        }
      })
    });
    $('#product').on('change', function() {
      select = $('#product').val();
      $.ajax({
        type: "GET",
        url: "{% url 'getitems' %}",
        data: {
          id: select
        }
      }).done(function(response) {
        var json_data = JSON.parse(response);
        for (key in json_data) {
          document.getElementById('hsn1').value = json_data[key]['hsn'];
          document.getElementById('description').value = json_data[key]['description'];
          document.getElementById('qty1').value = 0;
          if (json_data[key]['initialqty'] == '' || json_data[key]['initialqty'] == undefined) {
            document.getElementById('qtyspan').innerHTML = '';
          } else {
            document.getElementById('qtyspan').innerHTML = 'Available Quantity : ' + json_data[key]['initialqty'];
          }
          if (json_data[key]['item'] == 'bundle') {
            document.getElementById('unit1').value = 0;
            document.getElementById('unit1').style.display = 'none';
            document.getElementById('tax1').style.display = 'none';
            document.getElementById('total1').style.display = 'none';
            if (json_data[key]['qty1'] == undefined || json_data[key]['qty1'] == 0) {
              document.getElementById('bun1').style.display = 'none';
            } else {
              document.getElementById('bun1').style.display = 'table-row';
              document.getElementById('product11').value = json_data[key]['product1'];
              document.getElementById('hsn11').value = json_data[key]['hsn1'];
              document.getElementById('description11').value = json_data[key]['description1'];
              document.getElementById('qty11').value = json_data[key]['qty1'];
              document.getElementById('qty111').value = json_data[key]['qty1'];
              document.getElementById('unit11').value = json_data[key]['price1'];
              document.getElementById('total11').value = json_data[key]['total1'];
              document.getElementById('tax11').value = json_data[key]['tax1'];
            }
            if (json_data[key]['qty2'] == undefined || json_data[key]['qty2'] == 0) {
              document.getElementById('bun2').style.display = 'none';
            } else {
              document.getElementById('bun2').style.display = 'table-row';
              document.getElementById('product12').value = json_data[key]['product2'];
              document.getElementById('hsn12').value = json_data[key]['hsn2'];
              document.getElementById('description12').value = json_data[key]['description2'];
              document.getElementById('qty12').value = json_data[key]['qty2'];
              document.getElementById('qty121').value = json_data[key]['qty2'];
              document.getElementById('unit12').value = json_data[key]['price2'];
              document.getElementById('total12').value = json_data[key]['total2'];
              document.getElementById('tax12').value = json_data[key]['tax2'];
            }
            if (json_data[key]['qty3'] == undefined || json_data[key]['qty3'] == 0) {
              document.getElementById('bun3').style.display = 'none';
            } else {
              document.getElementById('bun3').style.display = 'table-row';
              document.getElementById('product13').value = json_data[key]['product3'];
              document.getElementById('hsn13').value = json_data[key]['hsn3'];
              document.getElementById('description13').value = json_data[key]['description3'];
              document.getElementById('qty13').value = json_data[key]['qty3'];
              document.getElementById('qty131').value = json_data[key]['qty3'];
              document.getElementById('unit13').value = json_data[key]['price3'];
              document.getElementById('total13').value = json_data[key]['total3'];
              document.getElementById('tax13').value = json_data[key]['tax3'];
            }
            if (json_data[key]['qty4'] == undefined || json_data[key]['qty4'] == 0) {
              document.getElementById('bun4').style.display = 'none';
            } else {
              document.getElementById('bun4').style.display = 'table-row';
              document.getElementById('product14').value = json_data[key]['product4'];
              document.getElementById('hsn14').value = json_data[key]['hsn4'];
              document.getElementById('description14').value = json_data[key]['description4'];
              document.getElementById('qty14').value = json_data[key]['qty4'];
              document.getElementById('qty141').value = json_data[key]['qty4'];
              document.getElementById('unit14').value = json_data[key]['price4'];
              document.getElementById('total14').value = json_data[key]['total4'];
              document.getElementById('tax14').value = json_data[key]['tax4'];
            }
          } else {
            document.getElementById('unit1').value = json_data[key]['salesprice'];
            var place = document.getElementById('plosu').value;
            if (place == '{{ cmp1.state }}') {
              document.getElementById('unit1').style.display = 'block';
              document.getElementById('tax1').style.display = 'block';
              document.getElementById('total1').style.display = 'block';
              document.getElementById('ta1').value = json_data[key]['tax'];
              document.getElementById('ta1').innerHTML = json_data[key]['tax'] + ' % GST';
            } else if (place != '{{ cmp1.state }}') {
              document.getElementById('unit1').style.display = 'block';
              document.getElementById('tax1').style.display = 'block';
              document.getElementById('total1').style.display = 'block';
              document.getElementById('ta5').value = json_data[key]['tax'];
              document.getElementById('ta5').innerHTML = json_data[key]['tax'] + ' % IGST';
            }

            document.getElementById('bun1').style.display = 'none';
            document.getElementById('product11').value = '';
            document.getElementById('hsn11').value = '';
            document.getElementById('description11').value = '';
            document.getElementById('qty11').value = 0;
            document.getElementById('qty111').value = 0;
            document.getElementById('unit11').value = 0;
            document.getElementById('total11').value = 0;
            document.getElementById('tax11').value = 0;

            document.getElementById('bun2').style.display = 'none';
            document.getElementById('product12').value = '';
            document.getElementById('hsn12').value = '';
            document.getElementById('description12').value = '';
            document.getElementById('qty12').value = 0;
            document.getElementById('qty121').value = 0;
            document.getElementById('unit12').value = 0;
            document.getElementById('total12').value = 0;
            document.getElementById('tax12').value = 0;

            document.getElementById('bun3').style.display = 'none';
            document.getElementById('product13').value = '';
            document.getElementById('hsn13').value = '';
            document.getElementById('description13').value = '';
            document.getElementById('qty13').value = 0;
            document.getElementById('qty131').value = 0;
            document.getElementById('unit13').value = 0;
            document.getElementById('total13').value = 0;
            document.getElementById('tax13').value = 0;

            document.getElementById('bun4').style.display = 'none';
            document.getElementById('product14').value = '';
            document.getElementById('hsn14').value = '';
            document.getElementById('description14').value = '';
            document.getElementById('qty14').value = 0;
            document.getElementById('qty141').value = 0;
            document.getElementById('unit14').value = 0;
            document.getElementById('total14').value = 0;
            document.getElementById('tax14').value = 0;
          }
        }
      });
    });
    $('#product2').on('change', function() {
      select = $('#product2').val();
      $.ajax({
        type: "GET",
        url: "{% url 'getitems' %}",
        data: {
          id: select
        }
      }).done(function(response) {
        var json_data = JSON.parse(response);
        for (key in json_data) {
          document.getElementById('hsn2').value = json_data[key]['hsn'];
          document.getElementById('description2').value = json_data[key]['description'];
          document.getElementById('qty2').value = 0;
          if (json_data[key]['initialqty'] == '' || json_data[key]['initialqty'] == undefined) {
            document.getElementById('qtyspan1').innerHTML = '';
          } else {
            document.getElementById('qtyspan1').innerHTML = 'Available Quantity : ' + json_data[key]['initialqty'];
          }
          if (json_data[key]['item'] == 'bundle') {
            document.getElementById('unit2').value = 0;
            document.getElementById('unit2').style.display = 'none';
            document.getElementById('tax2').style.display = 'none';
            document.getElementById('total2').style.display = 'none';
            if (json_data[key]['qty1'] == undefined || json_data[key]['qty1'] == 0) {
              document.getElementById('bun5').style.display = 'none';
            } else {
              document.getElementById('bun5').style.display = 'table-row';
              document.getElementById('product21').value = json_data[key]['product1'];
              document.getElementById('hsn21').value = json_data[key]['hsn1'];
              document.getElementById('description21').value = json_data[key]['description1'];
              document.getElementById('qty21').value = json_data[key]['qty1'];
              document.getElementById('qty211').value = json_data[key]['qty1'];
              document.getElementById('unit21').value = json_data[key]['price1'];
              document.getElementById('total21').value = json_data[key]['total1'];
              document.getElementById('tax21').value = json_data[key]['tax1'];
            }
            if (json_data[key]['qty2'] == undefined || json_data[key]['qty2'] == 0) {
              document.getElementById('bun6').style.display = 'none';
            } else {
              document.getElementById('bun6').style.display = 'table-row';
              document.getElementById('product22').value = json_data[key]['product2'];
              document.getElementById('hsn22').value = json_data[key]['hsn2'];
              document.getElementById('description22').value = json_data[key]['description2'];
              document.getElementById('qty22').value = json_data[key]['qty2'];
              document.getElementById('qty221').value = json_data[key]['qty2'];
              document.getElementById('unit22').value = json_data[key]['price2'];
              document.getElementById('total22').value = json_data[key]['total2'];
              document.getElementById('tax22').value = json_data[key]['tax2'];
            }
            if (json_data[key]['qty3'] == undefined || json_data[key]['qty3'] == 0) {
              document.getElementById('bun7').style.display = 'none';
            } else {
              document.getElementById('bun7').style.display = 'table-row';
              document.getElementById('product23').value = json_data[key]['product3'];
              document.getElementById('hsn23').value = json_data[key]['hsn3'];
              document.getElementById('description23').value = json_data[key]['description3'];
              document.getElementById('qty23').value = json_data[key]['qty3'];
              document.getElementById('qty231').value = json_data[key]['qty3'];
              document.getElementById('unit23').value = json_data[key]['price3'];
              document.getElementById('total23').value = json_data[key]['total3'];
              document.getElementById('tax23').value = json_data[key]['tax3'];
            }
            if (json_data[key]['qty4'] == undefined || json_data[key]['qty4'] == 0) {
              document.getElementById('bun8').style.display = 'none';
            } else {
              document.getElementById('bun8').style.display = 'table-row';
              document.getElementById('product24').value = json_data[key]['product4'];
              document.getElementById('hsn24').value = json_data[key]['hsn4'];
              document.getElementById('description24').value = json_data[key]['description4'];
              document.getElementById('qty24').value = json_data[key]['qty4'];
              document.getElementById('qty241').value = json_data[key]['qty4'];
              document.getElementById('unit24').value = json_data[key]['price4'];
              document.getElementById('total24').value = json_data[key]['total4'];
              document.getElementById('tax24').value = json_data[key]['tax4'];
            }
          } else {
            document.getElementById('unit2').value = json_data[key]['salesprice'];
            var place = document.getElementById('plosu').value;
            if (place == '{{ cmp1.state }}') {
              document.getElementById('unit2').style.display = 'block';
              document.getElementById('tax2').style.display = 'block';
              document.getElementById('total2').style.display = 'block';
              document.getElementById('ta2').value = json_data[key]['tax'];
              document.getElementById('ta2').innerHTML = json_data[key]['tax'] + ' % GST';
            } else if (place != '{{ cmp1.state }}') {
              document.getElementById('unit2').style.display = 'block';
              document.getElementById('tax2').style.display = 'block';
              document.getElementById('total2').style.display = 'block';
              document.getElementById('ta6').value = json_data[key]['tax'];
              document.getElementById('ta6').innerHTML = json_data[key]['tax'] + ' % IGST';
            }
            document.getElementById('bun5').style.display = 'none';
            document.getElementById('product21').value = '';
            document.getElementById('hsn21').value = '';
            document.getElementById('description21').value = '';
            document.getElementById('qty21').value = 0;
            document.getElementById('qty211').value = 0;
            document.getElementById('unit21').value = 0;
            document.getElementById('total21').value = 0;
            document.getElementById('tax21').value = 0;

            document.getElementById('bun6').style.display = 'none';
            document.getElementById('product22').value = '';
            document.getElementById('hsn22').value = '';
            document.getElementById('description22').value = '';
            document.getElementById('qty22').value = 0;
            document.getElementById('qty221').value = 0;
            document.getElementById('unit22').value = 0;
            document.getElementById('total22').value = 0;
            document.getElementById('tax22').value = 0;

            document.getElementById('bun7').style.display = 'none';
            document.getElementById('product23').value = '';
            document.getElementById('hsn23').value = '';
            document.getElementById('description23').value = '';
            document.getElementById('qty23').value = 0;
            document.getElementById('qty231').value = 0;
            document.getElementById('unit23').value = 0;
            document.getElementById('total23').value = 0;
            document.getElementById('tax23').value = 0;

            document.getElementById('bun8').style.display = 'none';
            document.getElementById('product24').value = '';
            document.getElementById('hsn24').value = '';
            document.getElementById('description24').value = '';
            document.getElementById('qty24').value = 0;
            document.getElementById('qty241').value = 0;
            document.getElementById('unit24').value = 0;
            document.getElementById('total24').value = 0;
            document.getElementById('tax24').value = 0;
          }
        }
      });
    });
    $('#product3').on('change', function() {
      select = $('#product3').val();
      $.ajax({
        type: "GET",
        url: "{% url 'getitems' %}",
        data: {
          id: select
        }
      }).done(function(response) {
        var json_data = JSON.parse(response);
        for (key in json_data) {
          document.getElementById('hsn3').value = json_data[key]['hsn'];
          document.getElementById('description3').value = json_data[key]['description'];
          document.getElementById('qty3').value = 0;
          if (json_data[key]['initialqty'] == '' || json_data[key]['initialqty'] == undefined) {
            document.getElementById('qtyspan2').innerHTML = '';
          } else {
            document.getElementById('qtyspan2').innerHTML = 'Available Quantity : ' + json_data[key]['initialqty'];
          }
          if (json_data[key]['item'] == 'bundle') {
            document.getElementById('unit3').value = 0;
            document.getElementById('unit3').style.display = 'none';
            document.getElementById('tax3').style.display = 'none';
            document.getElementById('total3').style.display = 'none';
            if (json_data[key]['qty1'] == undefined || json_data[key]['qty1'] == 0) {
              document.getElementById('bun9').style.display = 'none';
            } else {
              document.getElementById('bun9').style.display = 'table-row';
              document.getElementById('product31').value = json_data[key]['product1'];
              document.getElementById('hsn31').value = json_data[key]['hsn1'];
              document.getElementById('description31').value = json_data[key]['description1'];
              document.getElementById('qty31').value = json_data[key]['qty1'];
              document.getElementById('qty311').value = json_data[key]['qty1'];
              document.getElementById('unit31').value = json_data[key]['price1'];
              document.getElementById('total31').value = json_data[key]['total1'];
              document.getElementById('tax31').value = json_data[key]['tax1'];
            }
            if (json_data[key]['qty2'] == undefined || json_data[key]['qty2'] == 0) {
              document.getElementById('bun10').style.display = 'none';
            } else {
              document.getElementById('bun10').style.display = 'table-row';
              document.getElementById('product32').value = json_data[key]['product2'];
              document.getElementById('hsn32').value = json_data[key]['hsn2'];
              document.getElementById('description32').value = json_data[key]['description2'];
              document.getElementById('qty32').value = json_data[key]['qty2'];
              document.getElementById('qty321').value = json_data[key]['qty2'];
              document.getElementById('unit32').value = json_data[key]['price2'];
              document.getElementById('total32').value = json_data[key]['total2'];
              document.getElementById('tax32').value = json_data[key]['tax2'];
            }
            if (json_data[key]['qty3'] == undefined || json_data[key]['qty3'] == 0) {
              document.getElementById('bun11').style.display = 'none';
            } else {
              document.getElementById('bun11').style.display = 'table-row';
              document.getElementById('product33').value = json_data[key]['product3'];
              document.getElementById('hsn33').value = json_data[key]['hsn3'];
              document.getElementById('description33').value = json_data[key]['description3'];
              document.getElementById('qty33').value = json_data[key]['qty3'];
              document.getElementById('qty331').value = json_data[key]['qty3'];
              document.getElementById('unit33').value = json_data[key]['price3'];
              document.getElementById('total33').value = json_data[key]['total3'];
              document.getElementById('tax33').value = json_data[key]['tax3'];
            }
            if (json_data[key]['qty4'] == undefined || json_data[key]['qty4'] == 0) {
              document.getElementById('bun12').style.display = 'none';
            } else {
              document.getElementById('bun12').style.display = 'table-row';
              document.getElementById('product34').value = json_data[key]['product4'];
              document.getElementById('hsn34').value = json_data[key]['hsn4'];
              document.getElementById('description34').value = json_data[key]['description4'];
              document.getElementById('qty34').value = json_data[key]['qty4'];
              document.getElementById('qty341').value = json_data[key]['qty4'];
              document.getElementById('unit34').value = json_data[key]['price4'];
              document.getElementById('total34').value = json_data[key]['total4'];
              document.getElementById('tax34').value = json_data[key]['tax4'];
            }
          } else {
            document.getElementById('unit3').value = json_data[key]['salesprice'];
            var place = document.getElementById('plosu').value;
            if (place == '{{ cmp1.state }}') {
              document.getElementById('unit3').style.display = 'block';
              document.getElementById('tax3').style.display = 'block';
              document.getElementById('total3').style.display = 'block';
              document.getElementById('ta3').value = json_data[key]['tax'];
              document.getElementById('ta3').innerHTML = json_data[key]['tax'] + ' % GST';
            } else if (place != '{{ cmp1.state }}') {
              document.getElementById('unit3').style.display = 'block';
              document.getElementById('tax3').style.display = 'block';
              document.getElementById('total3').style.display = 'block';
              document.getElementById('ta7').value = json_data[key]['tax'];
              document.getElementById('ta7').innerHTML = json_data[key]['tax'] + ' % IGST';
            }

            document.getElementById('bun9').style.display = 'none';
            document.getElementById('product31').value = '';
            document.getElementById('hsn31').value = '';
            document.getElementById('description31').value = '';
            document.getElementById('qty31').value = 0;
            document.getElementById('qty311').value = 0;
            document.getElementById('unit31').value = 0;
            document.getElementById('total31').value = 0;
            document.getElementById('tax31').value = 0;

            document.getElementById('bun10').style.display = 'none';
            document.getElementById('product32').value = '';
            document.getElementById('hsn32').value = '';
            document.getElementById('description32').value = '';
            document.getElementById('qty32').value = 0;
            document.getElementById('qty321').value = 0;
            document.getElementById('unit32').value = 0;
            document.getElementById('total32').value = 0;
            document.getElementById('tax32').value = 0;

            document.getElementById('bun11').style.display = 'none';
            document.getElementById('product33').value = '';
            document.getElementById('hsn33').value = '';
            document.getElementById('description33').value = '';
            document.getElementById('qty33').value = 0;
            document.getElementById('qty331').value = 0;
            document.getElementById('unit33').value = 0;
            document.getElementById('total33').value = 0;
            document.getElementById('tax33').value = 0;

            document.getElementById('bun12').style.display = 'none';
            document.getElementById('product34').value = '';
            document.getElementById('hsn34').value = '';
            document.getElementById('description34').value = '';
            document.getElementById('qty34').value = 0;
            document.getElementById('qty341').value = 0;
            document.getElementById('unit34').value = 0;
            document.getElementById('total34').value = 0;
            document.getElementById('tax34').value = 0;
          }
        }
      });
    });
    $('#product4').on('change', function() {
      select = $('#product4').val();
      $.ajax({
        type: "GET",
        url: "{% url 'getitems' %}",
        data: {
          id: select
        }
      }).done(function(response) {
        var json_data = JSON.parse(response);
        for (key in json_data) {
          document.getElementById('hsn4').value = json_data[key]['hsn'];
          document.getElementById('description4').value = json_data[key]['description'];
          document.getElementById('qty4').value = 0;
          if (json_data[key]['initialqty'] == '' || json_data[key]['initialqty'] == undefined) {
            document.getElementById('qtyspan3').innerHTML = '';
          } else {
            document.getElementById('qtyspan3').innerHTML = 'Available Quantity : ' + json_data[key]['initialqty'];
          }
          if (json_data[key]['item'] == 'bundle') {
            document.getElementById('unit4').value = 0;
            document.getElementById('unit4').style.display = 'none';
            document.getElementById('tax4').style.display = 'none';
            document.getElementById('total4').style.display = 'none';
            if (json_data[key]['qty1'] == undefined || json_data[key]['qty1'] == 0) {
              document.getElementById('bun13').style.display = 'none';
            } else {
              document.getElementById('bun13').style.display = 'table-row';
              document.getElementById('product41').value = json_data[key]['product1'];
              document.getElementById('hsn41').value = json_data[key]['hsn1'];
              document.getElementById('description41').value = json_data[key]['description1'];
              document.getElementById('qty41').value = json_data[key]['qty1'];
              document.getElementById('qty411').value = json_data[key]['qty1'];
              document.getElementById('unit41').value = json_data[key]['price1'];
              document.getElementById('total41').value = json_data[key]['total1'];
              document.getElementById('tax41').value = json_data[key]['tax1'];
            }
            if (json_data[key]['qty2'] == undefined || json_data[key]['qty2'] == 0) {
              document.getElementById('bun14').style.display = 'none';
            } else {
              document.getElementById('bun14').style.display = 'table-row';
              document.getElementById('product42').value = json_data[key]['product2'];
              document.getElementById('hsn42').value = json_data[key]['hsn2'];
              document.getElementById('description42').value = json_data[key]['description2'];
              document.getElementById('qty42').value = json_data[key]['qty2'];
              document.getElementById('qty421').value = json_data[key]['qty2'];
              document.getElementById('unit42').value = json_data[key]['price2'];
              document.getElementById('total42').value = json_data[key]['total2'];
              document.getElementById('tax42').value = json_data[key]['tax2'];
            }
            if (json_data[key]['qty3'] == undefined || json_data[key]['qty3'] == 0) {
              document.getElementById('bun15').style.display = 'none';
            } else {
              document.getElementById('bun15').style.display = 'table-row';
              document.getElementById('product43').value = json_data[key]['product3'];
              document.getElementById('hsn43').value = json_data[key]['hsn3'];
              document.getElementById('description43').value = json_data[key]['description3'];
              document.getElementById('qty43').value = json_data[key]['qty3'];
              document.getElementById('qty431').value = json_data[key]['qty3'];
              document.getElementById('unit43').value = json_data[key]['price3'];
              document.getElementById('total43').value = json_data[key]['total3'];
              document.getElementById('tax43').value = json_data[key]['tax3'];
            }
            if (json_data[key]['qty4'] == undefined || json_data[key]['qty4'] == 0) {
              document.getElementById('bun16').style.display = 'none';
            } else {
              document.getElementById('bun16').style.display = 'table-row';
              document.getElementById('product44').value = json_data[key]['product4'];
              document.getElementById('hsn44').value = json_data[key]['hsn4'];
              document.getElementById('description44').value = json_data[key]['description4'];
              document.getElementById('qty44').value = json_data[key]['qty4'];
              document.getElementById('qty441').value = json_data[key]['qty4'];
              document.getElementById('unit44').value = json_data[key]['price4'];
              document.getElementById('total44').value = json_data[key]['total4'];
              document.getElementById('tax44').value = json_data[key]['tax4'];
            }
          } else {
            document.getElementById('unit4').value = json_data[key]['salesprice'];
            var place = document.getElementById('plosu').value;
            if (place == '{{ cmp1.state }}') {
              document.getElementById('unit4').style.display = 'block';
              document.getElementById('tax4').style.display = 'block';
              document.getElementById('total4').style.display = 'block';
              document.getElementById('ta4').value = json_data[key]['tax'];
              document.getElementById('ta4').innerHTML = json_data[key]['tax'] + ' % GST';
            } else if (place != '{{ cmp1.state }}') {
              document.getElementById('unit4').style.display = 'block';
              document.getElementById('tax4').style.display = 'block';
              document.getElementById('total4').style.display = 'block';
              document.getElementById('ta8').value = json_data[key]['tax'];
              document.getElementById('ta8').innerHTML = json_data[key]['tax'] + ' % IGST';
            }
            document.getElementById('bun13').style.display = 'none';
            document.getElementById('product41').value = '';
            document.getElementById('hsn41').value = '';
            document.getElementById('description41').value = '';
            document.getElementById('qty41').value = 0;
            document.getElementById('qty411').value = 0;
            document.getElementById('unit41').value = 0;
            document.getElementById('total41').value = 0;
            document.getElementById('tax41').value = 0;

            document.getElementById('bun14').style.display = 'none';
            document.getElementById('product42').value = '';
            document.getElementById('hsn42').value = '';
            document.getElementById('description42').value = '';
            document.getElementById('qty42').value = 0;
            document.getElementById('qty421').value = 0;
            document.getElementById('unit42').value = 0;
            document.getElementById('total42').value = 0;
            document.getElementById('tax42').value = 0;

            document.getElementById('bun15').style.display = 'none';
            document.getElementById('product43').value = '';
            document.getElementById('hsn43').value = '';
            document.getElementById('description43').value = '';
            document.getElementById('qty43').value = 0;
            document.getElementById('qty431').value = 0;
            document.getElementById('unit43').value = 0;
            document.getElementById('total43').value = 0;
            document.getElementById('tax43').value = 0;

            document.getElementById('bun16').style.display = 'none';
            document.getElementById('product44').value = '';
            document.getElementById('hsn44').value = '';
            document.getElementById('description44').value = '';
            document.getElementById('qty44').value = 0;
            document.getElementById('qty441').value = 0;
            document.getElementById('unit44').value = 0;
            document.getElementById('total44').value = 0;
            document.getElementById('tax44').value = 0;
          }
        }
      });
    });

    $('#termadd').on('change', function() {
      select = $('#termadd').val();
      $.ajax({
        type: "GET",
        url: "{% url 'getterm' %}",
        data: {
          id: select
        }
      }).done(function(response) {
        var json_data = JSON.parse(response);
        for (key in json_data) {
          document.getElementById('duedat').value = json_data[key]['newdate'];
        }
      }).fail(function() {

      });
    });
    var $select1 = $('#plosu'),
      $select2 = $('#tax1'),
      $select3 = $('#tax2'),
      $select4 = $('#tax3'),
      $select5 = $('#tax4'),
      $options = $select2.find('option'),
      $options1 = $select3.find('option'),
      $options2 = $select4.find('option'),
      $options3 = $select5.find('option');
    if ($options1.value == '{{ cmp1.state }}') {
      $options1.text = "{{ cmp1.state }}"
    }
    $select1.on('change', function() {
      if (this.value == "{{ cmp1.state }}") {
        $select2.html($options.filter('[text="' + this.value + '"]'));
        $select3.html($options1.filter('[text="' + this.value + '"]'));
        $select4.html($options2.filter('[text="' + this.value + '"]'));
        $select5.html($options3.filter('[text="' + this.value + '"]'));
      } else {
        $select2.html($options.filter('[text="' + " " + '"]'));
        $select3.html($options1.filter('[text="' + " " + '"]'));
        $select4.html($options2.filter('[text="' + " " + '"]'));
        $select5.html($options3.filter('[text="' + " " + '"]'));

      }

    }).trigger('change');
  });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function poppins() {
            var chkbtn = document.getElementById('okay');
            if (chkbtn.checked == true) {
                document.getElementById('shipstreet').value = document.getElementById('street').value;
                document.getElementById('shipcity').value = document.getElementById('city').value;
                document.getElementById('shippinco').value = document.getElementById('pinco').value;
                document.getElementById('shipcountry').value = document.getElementById('country').value;
                document.getElementById('shipst').value = document.getElementById('state').value;
                document.getElementById('shipst').innerHTML = document.getElementById('state').value;
            } else {
                document.getElementById('shipstreet').value = '';
                document.getElementById('shipcity').value = '';
                document.getElementById('shipstate').value = '';
                document.getElementById('shippinco').value = '';
                document.getElementById('shipcountry').value = '';
            }
        }
    </script>
    <script>
        function hidinput(divId, element) {
            if (element.value == 'GST registered- Regular' || element.value == 'GST registered- Composition' || element.value == 'SEZ' || element.value == "Deemed exports - EOU's STP's EHTP's etc") {
                document.getElementById(divId).style.display = 'block';
            } else {
                document.getElementById(divId).style.display = 'none';
            }
        }

        
       


        function checkgst(element) {
            var gstinput = element.value;
            var gstregexp = "[0-9]{2}[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9A-Za-z]{1}[Z]{1}[0-9a-zA-Z]{1}";
            if (gstinput.match(gstregexp)) {
                document.getElementById('warngst').innerHTML = '';
            } else {
                document.getElementById('warngst').innerHTML = 'Please provide a valid GST Number';
                alert('Please provide a valid GST Number');
            }
        }

        function checkpan(element) {
            var paninput = element.value;
            var panregexp = ["[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}"]
            if (paninput.match(panregexp)) {
                document.getElementById('warnpan').innerHTML = '';
            } else {
                document.getElementById('warnpan').innerHTML = 'Please provide a valid PAN Number';
                alert('Please provide a valid PAN Number')
            }
        }

        function checkweb(element) {
            var webinput = element.value;
            var webregexp = "www."
            if (webinput.startsWith(webregexp)) {
                document.getElementById('warnweb').innerHTML = '';
            } else {
                document.getElementById('warnweb').innerHTML = 'Please provide a valid Website Address';
                alert('Please provide a valid Website Address')
            }
        }

        function checkphone(element) {
            var phoneinput = element.value;
            var phoneregexp = "[0-9]{10}";
            if (phoneinput.match(phoneregexp)) {
                document.getElementById('warnphone').innerHTML = '';
            } else {
                document.getElementById('warnphone').innerHTML = 'Please provide a valid Phone Number';
                alert('Please provide a valid Phone Number')
            }
        }
    </script>



<!-- ITEM module -->

<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>
        
        <script>
            function insertValue() {
                var select = document.getElementById("select"),
                    txtVal = document.getElementById("val").value,
                    newOption = document.createElement("OPTION"),
                    newOptionval = document.createTextNode(txtVal);

                newOption.appendChild(newOptionval);
                select.insertBefore(newOption, select.lastChild);
            }
        </script>
        <script>
            $('.datepicker').pickadate({
                selectMonths: true,
                selectYears: true
            }),
                $('.timepicker').pickatime()
        </script>
        <script>
            $(function () {
                $('#date-time').bootstrapMaterialDatePicker({
                    format: 'YYYY-MM-DD HH:mm'
                });
                $('#date').bootstrapMaterialDatePicker({
                    time: false
                });
                $('#time').bootstrapMaterialDatePicker({
                    date: false,
                    format: 'HH:mm'
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {

                var current_fs, next_fs, previous_fs; //fieldsets
                var opacity;

                $(".next").click(function () {

                    current_fs = $(this).parent();
                    next_fs = $(this).parent().next();

//Add Class Active
                    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

//show the next fieldset
                    next_fs.show();
//hide the current fieldset with style
                    current_fs.animate({opacity: 0}, {
                        step: function (now) {
// for making fielset appear animation
                            opacity = 1 - now;

                            current_fs.css({
                                'display': 'none',
                                'position': 'relative'
                            });
                            next_fs.css({'opacity': opacity});
                        },
                        duration: 600
                    });
                });

                $(".previous").click(function () {

                    current_fs = $(this).parent();
                    previous_fs = $(this).parent().prev();

//Remove class active
                    $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

//show the previous fieldset
                    previous_fs.show();

//hide the current fieldset with style
                    current_fs.animate({opacity: 0}, {
                        step: function (now) {
// for making fielset appear animation
                            opacity = 1 - now;

                            current_fs.css({
                                'display': 'none',
                                'position': 'relative'
                            });
                            previous_fs.css({'opacity': opacity});
                        },
                        duration: 600
                    });
                });

                $('.radio-group .radio').click(function () {
                    $(this).parent().find('.radio').removeClass('selected');
                    $(this).addClass('selected');
                });

                

            });
           
        </script>
        <script type="text/javascript">
            function ShowHideDiv(track) {
                var inventorytrack = document.getElementById("inventorytrack");
    
                inventorytrack.style.display = track.checked ? "flex" : "none";
    
            }
        </script>


        <script>
            function validateForm() {
                let x = document.forms["myForm"]["fname"].value;
                if (x == "") {
                  alert("Name must be filled out");
                  return false;
                }
              }
            </script>




            <script>
                $('#date').val(new Date().toJSON().slice(0,10));
            </script>


            <script>
                $(document).ready(function() {
                    $('#select').on('change', function() {
                        select = $('#select').val();
                        $.ajax({
                        type: "GET",
                        url: "{% url 'getvendordata' %}",
                        data: {
                            id: select
                        }
                        }).done(function(response) {
                            var json_data = JSON.parse(response);
                            for (key in json_data) {
                                document.getElementById('billingaddress').value = json_data[key]['street'] + '\n' + json_data[key]['city'] + '\n' + json_data[key]['state'] + '\n' + json_data[key]['pincode'] + '\n' + json_data[key]['country'];    
                            }
                        })
                    });
           
                });
            </script>
       
{% endblock %}
