{% extends 'app1/base.html' %}
{% block body %}
    {% load static %}

    <style>
        .hide{
			display: none;
    	}

        .split {
            float: left;
            width: 50%;
          }
          
          /* Clear floats after the columns */
          .splitrow:after {
            content: "";
            display: table;
            clear: both;
          }
    </style>

    <div class="page-content">
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center><h3 class="mb-0">GENERATE e-WAY BILL</h3></center>
                </div>
                <hr/>
            </div>
        </div>
        <div class="card radius-15" style="background-color: #243e54;">
            <div class="card-body">
                <div class="card-title">
                    <h4 class="mb-0">PART A</h4>
                </div>
                <hr/>
                <form action="{% url 'create_eway_inv' %}" method="post" class="needs-validation" novalidate autocomplete="off">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <div class="row splitrow" style="width:100%;">
                     <div class="split">
                            <div class="col mt-3 ">
                                <label for="validationCustom01">Transaction Sub Type </label>
                                <select name="s_type" id="title" class="form-control">
                                    <option value="Supply">Supply</option>
                                    <option value="Import">Import</option>
                                    <option value="Export">Export</option>
                                    <option value="Job Work">Job Work</option>
                                    <option value="For Own Use">For Own Use</option>
                                    <option value="Job Work Returns">Job Work Returns</option>
                                    <option value="Sales Returns">Sales Returns </option>
                                    <option value="Others">Others</option>
                                    <option value="SKD/CKD">SKD/CKD</option>
                                    <option value="Line Sales">Line Sales</option>
                                    <option value="Recipient Not Known">Recipient Not Known</option>
                                    <option value="Exhibition or Faris">Exhibition or Faris</option>
                                </select>
                            </div>
                           
                        
                            <div class="col mt-3">
                                <label for="validationCustom03">Transporter</label>
                                <div class="d-flex">
                                <select name="transporter" id="title" class="form-control">
                                   

                                    <option selected disabled>select the transporter's name </option>
                                    {% for i in trans %}
                                    <option value="{{ i.name  }}">{{ i.name  }} </option>
                                    {% endfor %}

                                </select>
                                <a href="#">
                                    <button type="button" class="btn btn-outline-secondary ml-1" 
                                    data-target="#newtransporter" data-toggle="modal">+</button>
                                </a>
                            </div>
                           
                        </div>
                            <div class="col mt-3">
                                <label for="validationCustom03">Distance (in Km)

                                </label>
                                <input type="text" class="form-control" id="validationCustom03" name="dist"
                                    >
                            </div>
                           
                     </div>
                     <div class="split">
                        <div class="col mt-3">
                            <label for="validationCustom03">Document Type

                            </label>
                            <input type="text" class="form-control" id="validationCustom03" name="d_type"
                                 value="Invoice" >
                        </div>
                        <div class="col mt-3">
                            <label for="validationCustom03">Document No.

                            </label>
                            <input type="text" class="form-control" id="validationCustom03" name="d_no"
                                 value="{{ invoice.invoiceno }}" >
                        </div>
                        <div class="col mt-3">
                            <label for="validationCustom03">Document Date

                            </label>
                            <input type="text" class="form-control" id="validationCustom03" name="d_date"
                                 value="{{ invoice.invoicedate }}" >
                        </div>
                        
                     </div>

                    </div>
                    <hr>
                    <h4>FROM</h4>
                    <hr>
                    <div class="row splitrow" style="width:100%;">
                        <div class="split">
                               <div class="col mt-3 ">
                                   <label for="validationCustom01">Name</label>
                                   <input type="text" class="form-control" id="validationCustom03" name="fname"
                                 value="{{ cmp1.cname }}" >
                               </div>
                              
                           
                               <div class="col mt-3">
                                   <label for="validationCustom03">GSTIN</label>
                                   <div class="d-flex">
                                    <input type="text" class="form-control" id="validationCustom03" name="fgst"
                                    value="" >
                                
                               </div>
                              
                           </div>
                               
                        </div>
                        <div class="split">
                           <div class="col mt-3">
                               <label for="validationCustom03">Address
   
                               </label>
                               <input type="text" class="form-control" id="validationCustom03" name="faddress"
                                    value="{{ cmp1.caddress }}" >
                           </div>
                           <div class="col mt-3">
                               <label for="validationCustom03">Place
   
                               </label>
                               <input type="text" class="form-control" id="validationCustom03" name="fplace"
                                    value="{{ cmp1.city }},{{ cmp1.state }}" >
                           </div>
                           <div class="col mt-3">
                               <label for="validationCustom03">Pincode
   
                               </label>
                               <input type="text" class="form-control" id="validationCustom03" name="fpin"
                                    value="{{ cmp1.pincode }}" >
                           </div>
                           
                        </div>
   
                       </div>
                       <hr>
                    <h4>TO</h4>
                    <hr>
                    <div class="row splitrow" style="width:100%;">
                        <div class="split">
                               <div class="col mt-3 ">
                                   <label for="validationCustom01">Name</label>
                                   <input type="text" class="form-control" id="validationCustom03" name="tname"
                                 value="{{ invoice.customername }} " >
                               </div>
                              
                           
                               <div class="col mt-3">
                                   <label for="validationCustom03">GSTIN</label>
                                   <div class="d-flex">
                                    <input type="text" class="form-control" id="validationCustom03" name="tgst"
                                    value="" >
                                
                               </div>
                              
                           </div>
                               
                        </div>
                        <div class="split">
                           <div class="col mt-3">
                               <label for="validationCustom03">Address
   
                               </label>
                               <input type="text" class="form-control" id="validationCustom03" name="faddress"
                                    value="" >
                           </div>
                           <div class="col mt-3">
                               <label for="validationCustom03">Place
   
                               </label>
                               <input type="text" class="form-control" id="validationCustom03" name="tplace"
                                    value="" >
                           </div>
                           <div class="col mt-3">
                               <label for="validationCustom03">Pincode
   
                               </label>
                               <input type="text" class="form-control" id="validationCustom03" name="tpin"
                                    value="" >
                           </div>
                           
                        </div>
   
                       </div>
                       <hr>
                       <h4>ITEM DETAILS</h4>
                       <hr>
                       <div class="row clearfix mt-4">
                        <div class="col-md-12 table-responsive-md mt-3">
                          <table class="table table-bordered table-hover" id="tab_logic">
                            <thead>
                              <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Product Name</th>
                                <th class="text-center">HSN</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">QTY</th>
                                <th class="text-center">PRICE</th>
                                <th class="text-center">TOTAL</th>
                                <th class="text-center">TAX (%)</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for a in invitem %}
                              <tr id='addr0'>
                                <td>1</td>
                                <td><select name="product" id="product" class="form-control" style="background-color: #2f516f; color: white;">
                                    <option value="{{ a.product }}" selected>{{ a.product }}</option>
                                  
                                  </select></td>
                                <td><input type="text" name='hsn' id="hsn" value="{{ a.hsn }}" placeholder='Enter HSN Code' class="form-control" /></td>
                                <td><input type="text" name='description' id="description" value="{{ a.description }}" placeholder='Description' class="form-control" /></td>
                                <td><input type="number" name='qty' id="qty1" value="{{ a.qty }}" placeholder='Enter Qty' onchange="qtychange1(this)" class="form-control qty" step=0 min=0 />
                                  <span id="qtyspan" class="text-muted"></span>
                                </td>
                                <td><input type="number" name='price' id="unit1" value="{{ a.price }}" placeholder='Enter Unit Price' class="form-control price" step="0.00" min="0" /></td>
                                <td><input type="number" name='total' id="total1" value="{{ a.total }}" placeholder=0 class="form-control total" readonly /></td>
                                <td>
                                  <select name="tax" id="tax1" class="form-control tax" style="background-color: #2f516f; color: white;">
                                    <option id="ta1" value={{ a.tax }} text={{ cmp1.state }}>{{ a.tax }}
                                      % GST
                                    </option>
                                   
                                    <option id="ta5" text=" " value={{ a.tax }}>{{ a.tax }} %
                                      IGST
                                    </option>
                                   
                                  </select>
                                </td>
                                <td style="display: none;"><input type="number" step="any" name='taxamount0' id="taxamount" value=0 class="form-control taxamount" readonly />
                                </td>
                              </tr>
                              {% if a.product2 == None %}
                              <tr></tr>
                              {% else %}
                              
                              <tr id='addr0'>
                                <td>2</td>
                                <td><select name="product2" id="product2" class="form-control" style="background-color: #2f516f; color: white;">
                                    <option value="{{ a.product2 }}" selected>{{ a.product2 }}</option>
                                  
                                  </select></td>
                                <td><input type="text" name="hsn2" id="hsn2" value="{{ a.hsn2 }}" placeholder='Enter HSN Code' class="form-control" /></td>
                                <td><input type="text" name='description2' value="{{ a.description2 }}" placeholder='Description' id="description2" class="form-control" />
                                </td>
                                <td><input type="number" name="qty2" id="qty2" value="{{ a.qty2 }}" placeholder='Enter Qty' onchange="qtychange2(this)" class="form-control qty" step=0 min=0 />
                                  <span id="qtyspan1" class="text-muted"></span>
                                </td>
                                <td><input type="number" name="price2" id="unit2" value="{{ a.price2 }}" placeholder='Enter Unit Price' class="form-control price" step="0.00" min="0" /></td>
                                <td><input type="number" name="total2" id="total2" value="{{ a.total2 }}" placeholder=0 class="form-control total" readonly /></td>
                                <td>
                                  <select name="tax2" id="tax2" class="form-control tax" style="background-color: #2f516f; color: white;">
                                    <option id="ta2" value={{ a.tax2 }} text={{ cmp1.state }}>{{ a.tax2 }}
                                      % GST
                                    </option>
                                    <option id="ta6" text=" " value={{ a.tax2 }}>{{ a.tax2 }} %
                                      IGST
                                    </option>
                                  </select>
                                </td>
                                <td style="display: none"><input type="number" step="any" name='taxamount1' id="taxamount1" value=0 class="form-control taxamount" readonly />
                                </td>
                              </tr>
                              {% endif %}
                              {% if a.product3 == None %}
                              <tr></tr>
                              {% else %}
                            
                              <tr id='addr0'>
                                <td>3</td>
                                <td><select name="product3" id="product3" class="form-control" style="background-color: #2f516f; color: white;">
                                    <option value="{{ a.product3 }}" selected>{{ a.product3 }}</option>
                                  
                                  </select></td>
                                <td><input type="text" name="hsn3" id="hsn3" value="{{ a.hsn3 }}" placeholder='Enter HSN Code' class="form-control" /></td>
                                <td><input type="text" name="description3" id="description3" value="{{ a.description3 }}" placeholder='Description' class="form-control" /></td>
                                <td><input type="number" name="qty3" id="qty3" value="{{ a.qty3 }}" placeholder='Enter Qty' onchange="qtychange3(this)" class="form-control qty" step=0 min=0 />
                                  <span id="qtyspan2" class="text-muted"></span>
                                </td>
                                <td><input type="number" name="price3" id="unit3" value="{{ a.price3 }}" placeholder='Enter Unit Price' class="form-control price" step="0.00" min="0" /></td>
                                <td><input type="number" name="total3" id="total3" value="{{ a.total3 }}" placeholder=0 class="form-control total" readonly /></td>
                                <td>
                                  <select name="tax3" id="tax3" class="form-control tax" style="background-color: #2f516f; color: white;">
                                    <option id="ta3" value={{ a.tax3 }} text={{ cmp1.state }}>{{ a.tax3 }}
                                      % GST
                                    </option>
                                    <option id="ta7" text=" " value={{ a.tax3 }}>{{ a.tax3 }} %
                                      IGST
                                    </option>
                                  </select>
                                </td>
                                <td style="display: none;"><input type="number" step="any" name='taxamount2' id="taxamount2" value=0 class="form-control taxamount" readonly />
                                </td>
                              </tr>
                              
                            {% endif %}
                            {% if a.product4 == None %}
                              <tr></tr>
                              {% else %}
                              <tr id='addr0'>
                                <td>4</td>
                                <td><select name="product4" id="product4" class="form-control" style="background-color: #2f516f; color: white;">
                                    <option value="{{ a.product4 }}" selected>{{ a.product4 }}</option>
                                  
                                  </select></td>
                                <td><input type="text" name="hsn4" id="hsn4" value="{{ a.hsn4 }}" placeholder='Enter HSN Code' class="form-control" /></td>
                                <td><input type="text" name="description4" id="description4" value="{{ a.description4 }}" placeholder='Description' class="form-control" /></td>
            
                                <td><input type="number" name="qty4" id="qty4" value="{{ a.qty4 }}" placeholder='Enter Qty' onchange="qtychange4(this)" class="form-control qty" step=0 min=0 />
                                  <span id="qtyspan3" class="text-muted"></span>
                                </td>
                                <td><input type="number" name="price4" id="unit4" value="{{ a.price4 }}" placeholder='Enter Unit Price' class="form-control price" step="0.00" min="0" /></td>
                                <td><input type="number" name="total4" id="total4" value="{{ a.total4 }}" placeholder='0.00' class="form-control total" readonly /></td>
                                <td>
                                  <select name="tax4" id="tax4" class="form-control tax" style="background-color: #2f516f; color: white;">
                                    <option id="ta4" value={{ a.tax4 }} text={{ cmp1.state }}>{{ a.tax4 }}
                                      % GST
                                    </option>
                                    <option id="ta8" text=" " value={{ a.tax4 }}>{{ a.tax4 }} %
                                      IGST
                                    </option>
                                  </select>
                                </td>
                                <td style="display: none;"><input type="number" step="any" name='taxamount3' id="taxamount3" value='' class="form-control taxamount" readonly />
                                </td>
                              </tr>
                              {% endif %}
                            </tbody>
                            {% endfor %}
                          </table>
                        </div>
                      </div>
            
            
                      <div class="row clearfix mt-4">
                        <div class="col-md-7 mt-3"></div>
                        <div class="col-md-5 mt-3 table-responsive-md">
                          <table class="table table-bordered table-hover" id="tab_logic_total">
                            <tbody>
                           
                              <tr>
                                <th class="text-center">Grand Total</th>
                                <td class="text-center"><input type="number" name='grandtotal' id="grandtotal" step="any" value="{{ invoice.grandtotal }}" placeholder=0 class="form-control" readonly /></td>
                              </tr>
                           
                            </tbody>
                          </table>
                        </div>
                      </div>
                        <hr>
                        <h4>PART B</h4>
                        <hr>
                        <div class="row splitrow" style="width:100%;">
                            <div class="split">
                                <div class="col mt-3">
                                    <label for="validationCustom05" name style="color: white;">Vehicle Type
                                        </label>
                                 
                                </div>
                                <br>
                                <div class="col mt-10">
                                    <div class="form-check">
                                        <input class="form-check-input" value="Regular" type="radio" name="vtype" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          Regular
                                        </label>
                                      </div>
                                     
                                </div>
                                <br>
                                <div class="col">
                                    
                                    <div class="form-check">
                                    <input class="form-check-input" value="Cargo" type="radio" name="vtype" id="flexRadioDefault2" >
                                    <label class="form-check-label" for="flexRadioDefault2">
                                      Over Dimentional Cargo
                                    </label>
                                  </div>
                                </div>
                               
                                  
                                  
                            </div>
                            <div class="split">
                                <div class="col mt-3">
                                    <label for="validationCustom01">Mode of Transportation</label>
                                    <select name="tmode" id="title" class="form-control">
                                        <option value="Road">Road</option>
                                        <option value="Rail">Rail</option>
                                        <option value="Ship">Ship</option>
                                        <option value="Air">Air</option>
                                    </select>
                                   </div>
                                  
                                   <div class="col mt-3">
                                    <label for="validationCustom03">Vehicle No</label>
                                    <input type="text" class="form-control" id="validationCustom03" name="vno"
                                        >
                                   </div>
                               <div class="col mt-3">
                                <label for="validationCustom03">Transporter's ID</label>
                                <input type="text" class="form-control" id="validationCustom03" name="vno"
                                    >
                               </div>
                        
                               
                            </div>
       
                           </div>
                       
                    
                  
                 
                </div>
                       
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button class="btn btn-outline-info rounded-pill text-grey w-100 mt-3 mb-3"
                                        type="submit">
                                    Submit form
                                </button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>


    
<!---------------------------------------------ADD Transporter MODAL ----------------------------------------------->

<div class="modal fade" id="newtransporter">
    <div class="modal-dialog">
   
        <div class="modal-content" style="background-color: #213b52;">
            <form action="{% url 'create_transporter' %}" method="post" class="needs-validation"  validate>
                {% csrf_token %}
            <div class="modal-header">
                <h3 class="m-3">Add Transporter</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              
              
                <div>
                    <div class="form-check">
                        <label class="form-check-label">Name *</label> 
                        <input type="text" class="form-control" name="tname">
                       
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">Transporter's ID *</label> 
                        <input type="text" class="form-control" name="tid">
                       
                    </div>

    
                </div>
           
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-info" >Save</button>
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
 
    </div>
</div>            


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



 


    

{% endblock %}