<!DOCTYPE html>
<html lang="en">
<head>
    
  {% load static %}
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Fin sYs</title>


  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/modules/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/modules/fontawesome/css/all.min.css' %}" >

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style1.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>

<style>
      .a {
      font-family: "Poppins", sans-serif;
    }
    li {
      list-style: none;
      padding-top: 10px;
}

.main-sidebar .sidebar-menu li a {
font-size:15px;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  $(document).ready(function() {
    var $select1 = $('#select1'),
      $select2 = $('#select2'),
      $select3 = $('#name'),
      $options = $select2.find('option'),
      $options1 = $select3.find('option');
    $select1.on('change', function() {
      $select2.html($options.filter('[text="' + this.value + '"]'));
      $select3.html($options1.filter('[text="' + this.value + '"]'));
    }).trigger('change');
  });
</script>

</head>


<body >

  <div id="app">
    <div class="main-wrapper main-wrapper-1" >
      <div class="navbar-bgg "></div>
      <nav class="navbar navbar-expand-lg main-navbar"  style="background-color:#213b52">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
          <div class="search-element">
            <input class="form-control" id="myInput" type="search" placeholder="Search"  onkeyup="filter(this);" onclick="myFunction1()"   data-width="250">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          
          </div>
          <div class=" mt-5" id="myDIV" style="z-index:1;position:absolute; 
          background-color: #213b52;width:550px;height:1px;">
          
             <ul id="myList" class="one" style="background-color: #213b52;">
              <li><a style="color:white;text-decoration:none;"  href="{% url 'godash' %}">Dashboard</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'goitem' %}">Item</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'goonlinebank' %}">Online Banking</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'goofflinebank' %}">Offline Banking</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'gobankrecon' %}">Bank Reconcilation</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'gosalesrecords' %}">Sales Records</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'goinvoices' %}">Invoices</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'gocustomers' %}">Customers</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'gopands' %}">Product and Services</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'goexpences' %}">Expenses</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'gosupplies' %}">Suppliers</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'gocoa' %}">Chart of Accounts</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'gorecon' %}">Reconcile</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'cashposition' %}">Cash Position</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'gorecon' %}">Reconcile</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'gorecon' %}">Cash Position</a></li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'govendor' %}">Vendor</li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'gopurchaseorder' %}">Purchase Order</li>
              <li><a style="color:white;text-decoration:none;" href="{% url 'billing' %}">Bill</li>

    
             </ul>
             </div>


        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle ">
            <i class='bx bxs-cog'></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Settings
               
              </div>
              
              <div class="dropdown-list-content dropdown-list-message">
               
               
                <ul class="a" style=" list-style-type: none; margin: 0; padding: 0; width: 200px;">
                    <li><a href="{% url 'C_profile' %}"  class="dropdown-item">Company Profile</a></li>
                    <li><a href="{% url 'view_users' %}"  class="dropdown-item">Users</a></li>
                    <li><a href="{% url 'godash' %}"  class="dropdown-item">Branches</a></li>
                    <li><a href="{% url 'Currencies' %}"  class="dropdown-item">Currencies</a></li>
                    <li><a href="{% url 'gotax' %}"  class="dropdown-item">Tax</a></li>
                    <li><a href="{% url 'gotemplates' %}" class="dropdown-item">Templates</a></li>
                    <li><a href="editaccounts/{{ user.id }}"  class="dropdown-item">Accounts and Settings</a></li>
                    <li><a href="{% url 'customstyle' %}" class="dropdown-item">Customize Form Style</a></li>
                    <li><a href="{% url 'gocoa' %}"  class="dropdown-item">Chart of Accounts</a></li>
                  </ul>
              
               
              </div>
            
            </div>
          </li>
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notifications
                <div class="float-right">
                  <a href="#">Mark All As Read</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-icon bg-primary text-white">
                    <i class="fas fa-code"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Template update is available now!
                    <div class="time text-primary">2 Min Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-info text-white">
                    <i class="far fa-user"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>You</b> and <b>Dedik Sugiharto</b> are now friends
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-success text-white">
                    <i class="fas fa-check"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-danger text-white">
                    <i class="fas fa-exclamation-triangle"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Low disk space. Let's clean it!
                    <div class="time">17 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-info text-white">
                    <i class="fas fa-bell"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Welcome to Stisla template!
                    <div class="time">Yesterday</div>
                  </div>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            {% if user.is_authenticated %}
            {% csrf_token %}
            <div class="d-sm-none d-lg-inline-block">{{ cmp1.cname }}</div>
        
            <img src="{{ cmp1.cimg.url }}" class="user-img"></a>
            {% endif %}
            <div class="dropdown-menu dropdown-menu-right">
              <a href="/app1/userprofile/{{ user.id }}" class="dropdown-item has-icon">
                <i class="far fa-user"></i> Profile
              </a>
              <a href="{% url 'godash' %}"class="dropdown-item has-icon">
                <i class="fas fa-bolt"></i> Dashboard
              </a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      
      <div class="main-sidebar sidebar-style-2" style="background-color:#E8EBED;color:black;">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            
            <a ><b>Fin sYs</b></a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm" style="background-color:#E8EBED;color:black;">
            <a >FS</a>
          </div>
          <ul class="sidebar-menu" style="color:#000;">
            <li class="dropdown">
              <a style="color:#000;" href="{% url 'godash' %}"><i class="fas fa-fire"></i><span>Dashboard</span></a>
             
            </li>
            <li class="dropdown" style="color:#000;">
              <a style="color:#000;" href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-cube"></i><span>Item</span></a>
              <ul class="dropdown-menu">
                <li><a style="color:#000;" class="nav-link" href="{% url 'goitem' %}">Item</a></li>
                <li><a style="color:#000;" class="nav-link" href="{% url 'gostock_adjust' %}">Stock Adjustments</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a style="color:#000;" href="#" class="nav-link has-dropdown"><i class="fas fa-money-check"></i><span>Banking</span></a>
              <ul class="dropdown-menu">
                <li><a style="color:#000;" class="nav-link" href="{% url 'goonlinebank' %}">Online Banking</a></li>
                <li><a style="color:#000;" class="nav-link" href="{% url 'bnnk' %}">Offline Banking</a></li>
                <li><a style="color:#000;" class="nav-link" href="{% url 'gobankrecon' %}">Bank Reconcilation</a></li>
                
              </ul>
            </li>
            <li class="dropdown">
              <a style="color:#000;"  href="#" class="nav-link has-dropdown"><i class="fas fa-file"></i> <span>Sales</span></a>
              <ul class="dropdown-menu">
                <li><a style="color:#000;"  class="nav-link" href="{% url 'gocustomers' %}">Customers</a></li>    
                <li><a style="color:#000;"  class="nav-link " href="{% url 'goestimate' %}">Estimate</a></li>           
                <li><a style="color:#000;"  class="nav-link " href="{% url 'gosalesorder' %}">Sales Order</a></li>        
                <li><a style="color:#000;"  class="nav-link" href="{% url 'gosalesrecords' %}"> Sales Records</a></li>
                <li><a style="color:#000;"  class="nav-link " href="{% url 'goinvoices' %}">Invoices</a></li>               
                <li><a style="color:#000;"  class="nav-link" href="{% url 'gopayment_received' %}">Payments Received</a></li>
                <li><a style="color:#000;"  class="nav-link" href="{% url 'gopands' %}">Product and Services</a></li>       
                      </ul>
            </li>
            <li class="dropdown">
              <a style="color:#000;"  href="#" class="nav-link has-dropdown"><i class="fas fa-briefcase"></i><span>Purchase</span></a>
              <ul class="dropdown-menu">
                <li><a style="color:#000;"  class="nav-link" href="{% url 'govendor' %}">Vendor</a></li>
                <li><a style="color:#000;"  class="nav-link" href="{% url 'gopurchaseorder' %}">Purchase Order</a></li>
                <li><a style="color:#000;"  class="nav-link" href="{% url 'billing' %}">Bill</a></li>
                <li><a style="color:#000;"  class="nav-link" href="{% url 'goexpenses' %}">Expense</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a style="color:#000;"  href="#" class="nav-link has-dropdown"><i class="fas fa-file-invoice"></i> <span>E-Way Bill</span></a>
              <ul class="dropdown-menu">
                <li><a style="color:#000;"  href="{% url 'goewaybill' %}">e-way bills</a></li>
                <li><a style="color:#000;"  href="{% url 'view_eway_inv' %}">Bill Format</a></li>
                
              </ul>
            </li>          
              <li class="dropdown">
              <a style="color:#000;"  href="#" class="nav-link has-dropdown"><i class="fas fa-wallet"></i><span>Payroll</span></a>
              <ul class="dropdown-menu">
                <li><a style="color:#000;"  class="nav-link" href="{% url 'goemployee' %}">Employee</a></li>
                <li><a style="color:#000;"  class="nav-link" href="{% url 'gopayslip' %}">Payslip</a></li>
               
              </ul>
            </li>
            <li class="dropdown">
              <a style="color:#000;"  href="#" class="nav-link has-dropdown"><i class="fas fa-comment"></i><span>Report</span></a>
              <ul class="dropdown-menu">
                <li><a style="color:#000;"  href="{% url 'profitandloss' %}">Profit and Loss</a></li> 
                <li><a style="color:#000;" href="{% url 'balancesheet' %}">Balance sheet</a></li> 
                <li><a style="color:#000;"  href="{% url 'accreceivables' %}">Account receivables</a></li> 
                <li><a style="color:#000;"  href="{% url 'accpayables' %}">Account payables</a></li> 
                <li><a style="color:#000;"  href="{% url 'stocksummary' %}">Stock Summary </a>
                </li>
                <li><a style="color:#000;"  href="{% url 'stockvaluation' %}">Stock  Valuation</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a style="color:#000;"  href="#" class="nav-link has-dropdown"><i class="fas fa-money-bill-wave"></i> <span>Taxes</span></a>
              <ul class="dropdown-menu">
                <li><a style="color:#000;"  href="{% url 'gogst' %}">GST</a>
                </li>
                <li><a style="color:#000;"  href="{% url 'gstr1' %}">GSTR-1</a>
                </li>
                
                <li><a style="color:#000;"  href="{% url 'gstr3b' %}">GSTR-3B</a>
                </li>

                <li><a style="color:#000;"  href="{% url 'gotax' %}">New...</a>
                </li>

              </ul>
            </li>
            <li class="dropdown">
              <a style="color:#000;"  href="#" class="nav-link has-dropdown"><i class="fas fa-file"></i> <span>Accounting</span></a>
              <ul class="dropdown-menu">
                <li><a style="color:#000;"  href="{% url 'gocoa' %}">Chart of
                  Accounts</a>
              </li>
              <li><a style="color:#000;"  href="{% url 'gomjoural' %}">Manual Journal
              </a>
          </li>
              <li><a style="color:#000;"  href="{% url 'gorecon' %}">Reconcile</a>
              </li>
              </ul>
            </li>
           
          
          </ul>

             </aside>
      </div>


            <!-- Main Content -->
            <div class="main-content">
              <section class="section">
                <div class="section-header">
               
                </div>
      
                <div class="section-body">
                  {% block body %}
                  {% endblock %}
                </div>
              </section>
            </div>
         
          </div>
        </div>


        







    
 

     

  <!-- General JS Scripts -->
  <script src="{% static 'assets/modules/jquery.min.js' %}"></script>
  <script src="{% static 'assets/modules/popper.js' %}"></script>
  <script src="{% static 'assets/modules/tooltip.js' %}"></script>
  <script src="{% static 'assets/modules/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'assets/modules/moment.min.js' %}"></script>
  <script src="{% static 'assets/js/stisla.js' %}"></script>
  
  <!-- JS Libraies -->

  <!-- Page Specific JS File -->
  
  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>



  <script>

    $(document).ready(function(){
      $("#myList li").hide();
    
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        if (value !== '' ) {
        $("#myList li").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });   
        } else {
          $("#myList li").hide();   
        }    
      });
    });
    
       
       
     </script>
</body>
</html>