<!DOCTYPE html>
<html lang="en">
<head>
    
  {% load static %}
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Fin sYs</title>

  
  
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/modules/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/modules/fontawesome/css/all.min.css' %}" >

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style1.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA --></head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1" >
      <div class="navbar-bgg "></div>
      <nav class="navbar navbar-expand-lg main-navbar"  style="background-color:#213b52">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
          <div class="search-element">
            <input class="form-control" id="myInput" type="search" placeholder="Search"  onkeyup="filter(this);" onclick="myFunction1()"   data-width="250">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          
          </div>
          <div class=" mt-5" id="myDIV" style="z-index:1;position:absolute; 
          background-color: #213b52;width:550px;height:1px;">
          
             <ul id="myList" class="one" style="background-color: #213b52;">
              <li><a href="{% url 'godash' %}">Dashboard</a></li>
              <li><a href="{% url 'goitem' %}">Item</a></li>
              <li><a href="{% url 'goonlinebank' %}">Online Banking</a></li>
              <li><a href="{% url 'goofflinebank' %}">Offline Banking</a></li>
                <li><a href="{% url 'gobankrecon' %}">Bank Reconcilation</a></li>
                  <li><a href="{% url 'gosalesrecords' %}">Sales Records</a></li>
                    <li><a href="{% url 'goinvoices' %}">Invoices</a></li>
                      <li><a href="{% url 'gocustomers' %}">Customers</a></li>
                        <li><a href="{% url 'gopands' %}">Product and Services</a></li>
                          <li><a href="{% url 'goexpences' %}">Expenses</a></li>
                            <li><a href="{% url 'gosupplies' %}">Suppliers</a></li>
                              <li><a href="{% url 'gocoa' %}">Chart of Accounts</a></li>
                                <li><a href="{% url 'gorecon' %}">Reconcile</a></li>
                                  <li><a href="{% url 'cashposition' %}">Cash Position</a></li>
                                    <li><a href="{% url 'gorecon' %}">Reconcile</a></li>
                                      <li><a href="{% url 'gorecon' %}">Cash Position</a></li>
                                        <li><a href="{% url 'govendor' %}">Vendor</li>
                                          <li><a href="{% url 'gopurchaseorder' %}">Purchase Order</li>
                                          <li><a href="{% url 'billing' %}">Bill</li>

    
             </ul>
             </div>


        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle beep">
            <i class="far fa-gear"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Settings
               
              </div>
              
              <div class="dropdown-list-content dropdown-list-message">
               
               
                <ul class="a" style=" list-style-type: none; margin: 0; padding: 0; width: 200px;">
                    <li><a href="{% url 'C_profile' %}" style="display: block; padding: 8px 16px; text-decoration: none">Company Profile</a></li>
                    <li><a href="{% url 'view_users' %}" style="display: block; padding: 8px 16px; text-decoration: none">Users</a></li>
                    <li><a href="{% url 'godash' %}" style="display: block; padding: 8px 16px; text-decoration: none">Branches</a></li>
                    <li><a href="{% url 'Currencies' %}" style="display: block; padding: 8px 16px; text-decoration: none">Currencies</a></li>
                    <li><a href="{% url 'gotax' %}" style="display: block; padding: 8px 16px; text-decoration: none">Tax</a></li>
                    <li><a href="{% url 'gotemplates' %}" style="display: block; padding: 8px 16px; text-decoration: none">Templates</a></li>
                    <li><a href="editaccounts/{{ user.id }}" style="display: block; padding: 8px 16px; text-decoration: none">Accounts and Settings</a></li>
                    <li><a href="{% url 'customstyle' %}" style="display: block; padding: 8px 16px; text-decoration: none">Customize Form Style</a></li>
                    <li><a href="{% url 'gocoa' %}" style="display: block; padding: 8px 16px; text-decoration: none">Chart of Accounts</a></li>
                  </ul>
              
               
              </div>
            
            </div>
          </li>
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notifications
                <div class="float-right">
                  <a href="#">Mark All As Read</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-icon bg-primary text-white">
                    <i class="fas fa-code"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Template update is available now!
                    <div class="time text-primary">2 Min Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-info text-white">
                    <i class="far fa-user"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>You</b> and <b>Dedik Sugiharto</b> are now friends
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-success text-white">
                    <i class="fas fa-check"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-danger text-white">
                    <i class="fas fa-exclamation-triangle"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Low disk space. Let's clean it!
                    <div class="time">17 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-info text-white">
                    <i class="fas fa-bell"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Welcome to Stisla template!
                    <div class="time">Yesterday</div>
                  </div>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            {% if user.is_authenticated %}
            {% csrf_token %}
            <div class="d-sm-none d-lg-inline-block">{{ cmp1.cname }}</div>
        
            <img src="{{ cmp1.cimg.url }}" class="user-img"></a>
            {% endif %}
            <div class="dropdown-menu dropdown-menu-right">
              <a href="features-profile.html" class="dropdown-item has-icon">
                <i class="far fa-user"></i> Profile
              </a>
              <a href="features-activities.html" class="dropdown-item has-icon">
                <i class="fas fa-bolt"></i> Dashboard
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            
            <a ><b>Fin sYs</b></a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="index.html">FS</a>
          </div>
          <ul class="sidebar-menu">
            <li class="dropdown">
              <a ><i class="fas fa-fire"></i><span>Dashboard</span></a>
             
            </li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Item</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="layout-default.html">Item</a></li>
                <li><a class="nav-link" href="layout-transparent.html">Stock Adjustments</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Banking</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="bootstrap-alert.html">Online Banking</a></li>
                <li><a class="nav-link" href="bootstrap-badge.html">Offline Banking</a></li>
                <li><a class="nav-link" href="bootstrap-breadcrumb.html">Bank Reconcilation</a></li>
                
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span>Sales</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="components-article.html">Customers</a></li>    
                <li><a class="nav-link " href="components-avatar.html">Estimate</a></li>           
                <li><a class="nav-link " href="components-hero.html">Sales Order</a></li>        
                <li><a class="nav-link" href="components-multiple-upload.html"> Sales Records</a></li>
                <li><a class="nav-link " href="components-pricing.html">Invoices</a></li>               
                <li><a class="nav-link" href="components-table.html">Payments Received</a></li>
                <li><a class="nav-link" href="components-user.html">Product and Services</a></li>       
                      </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="far fa-file-alt"></i> <span>Purchase</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="forms-advanced-form.html">Vendor</a></li>
                <li><a class="nav-link" href="forms-editor.html">Purchase Order</a></li>
                <li><a class="nav-link" href="forms-validation.html">Bill</a></li>
                <li><a class="nav-link" href="forms-validation.html">Expense</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i> <span>E-Way Bill</span></a>
              <ul class="dropdown-menu">
                <li><a href="gmaps-advanced-route.html">e-way bills</a></li>
                <li><a href="gmaps-draggable-marker.html">Bill Format</a></li>
                
              </ul>
            </li>          
              <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-plug"></i> <span>Payroll</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="modules-calendar.html">Employee</a></li>
                <li><a class="nav-link" href="modules-chartjs.html">Payslip</a></li>
               
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>Report</span></a>
              <ul class="dropdown-menu">
                <li><a href="auth-forgot-password.html">Profit and Loss</a></li> 
                <li><a href="auth-login.html">Balance sheet</a></li> 
                <li><a href="auth-register.html">Account receivables</a></li> 
                <li><a href="auth-reset-password.html">Account payables</a></li> 
                <li><a href="{% url 'stocksummary' %}">Stock Summary </a>
                </li>
                <li><a href="{% url 'stockvaluation' %}">Stock  Valuation</a>
                </li>
              </ul>
            </li>
           
          
          </ul>

             </aside>
      </div>

      <!-- Main Content -->
     

  <!-- General JS Scripts -->
  <script src="{% static 'assets/modules/jquery.min.js' %}"></script>
  <script src="{% static 'assets/modules/popper.js' %}"></script>
  <script src="{% static 'assets/modules/tooltip.js' %}"></script>
  <script src="{% static 'assets/modules/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'assets/modules/moment.min.js' %}"></script>
  <script src="{% static 'assets/js/stisla.js' %}"></script>
  
  <!-- JS Libraies -->

  <!-- Page Specific JS File -->
  
  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>



  <script>

    $(document).ready(function(){
      $("#myList li").hide();
    
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        if (value !== '' ) {
        $("#myList li").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });   
        } else {
          $("#myList li").hide();   
        }    
      });
    });
    
       
       
     </script>
</body>
</html>