{% extends 'app1/base.html' %}
{% block body %}
    {% load static %}

    <style>
        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }
        .card-registration .select-arrow {
            top: 13px;
        }
        .bg-grey {
            background-color: rgba(0, 0, 0, 0.4);
        }
        @media (min-width: 992px) {
            .card-registration-2 .bg-grey {
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
            }
        }
        @media (max-width: 991px) {
            .card-registration-2 .bg-grey {
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
            }
        }
        .vl {
            border-left: 6px solid gray;
        }
    </style>

    <div class="page-content">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
                <div class="row g-0">
                    <div class="col-lg-8">
                        <div class="p-5">
                            <div class="d-flex justify-content-between align-items-center mb-5">
                                <h1 class="fw-bold mb-0 text-black">{{ customer.title }}. {{ customer.firstname }} {{ customer.lastname }}</h1>
                                <h6 class="mb-0 text-muted">{{ cmp1.cname }}</h6>
                            </div>
                            <hr class="my-4">
                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                <div class="col-md-2 mt-3">
                                    <h6 class="mb-0">Company</h6>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <p class="mb-0">{{ customer.companyname }}</p>
                                </div>
                                <div class="col-md-2 mt-3 vl">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <p class="mb-0">{{ customer.email }}</p>
                                </div>
                            </div>
                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                <div class="col-md-2 mt-3">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <p class="mb-0">{{ customer.mobile }}</p>
                                </div>
                                <div class="col-md-2 mt-3 vl">
                                    <h6 class="mb-0">Website</h6>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <p class="mb-0">{{ customer.website }}</p>
                                </div>
                            </div>
                            <hr class="my-4">
                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                <div class="col-md-4 mt-3">
                                    <h5 style="border-bottom: 1px solid rgba(128, 128, 128, 0.6); width: fit-content;">Billing Address</h5>
                                </div>
                                <div class="col-md-4 mt-3"></div>
                                <div class="col-md-4 mt-3"></div>

                                <div class="col-md-2 mt-3">
                                    <h6 class="mb-0">Street</h6>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <p class="mb-0">{{ customer.street }}</p>
                                </div>
                                <div class="col-md-2 mt-3 vl">
                                    <h6 class="mb-0">City</h6>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <p class="mb-0">{{ customer.city }}</p>
                                </div>
                            </div>
                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                <div class="col-md-2 mt-3">
                                    <h6 class="mb-0">State</h6>
                                </div>
                                <div class="col-md-2 mt-3">
                                    <p class="mb-0">{{ customer.state }}</p>
                                </div>
                                <div class="col-md-2 mt-3 vl">
                                    <h6 class="mb-0">Pincode</h6>
                                </div>
                                <div class="col-md-2 mt-3">
                                    <p class="mb-0">{{ customer.pincode }}</p>
                                </div>
                                <div class="col-md-2 mt-3 vl">
                                    <h6 class="mb-0">Country</h6>
                                </div>
                                <div class="col-md-2 mt-3">
                                    <p class="mb-0">{{ customer.country }}</p>
                                </div>
                            </div><hr>
                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                <div class="col-md-4 mt-3">
                                    <h5 style="border-bottom: 1px solid rgba(128, 128, 128, 0.6); width: fit-content;">Shipping Address</h5>
                                </div>
                                <div class="col-md-4 mt-3"></div>
                                <div class="col-md-4 mt-3"></div>

                                <div class="col-md-2 mt-3">
                                    <h6 class="mb-0">Street</h6>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <p class="mb-0">{{ customer.shipstreet }}</p>
                                </div>
                                <div class="col-md-2 mt-3 vl">
                                    <h6 class="mb-0">City</h6>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <p class="mb-0">{{ customer.shipcity }}</p>
                                </div>
                            </div>
                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                <div class="col-md-2 mt-3">
                                    <h6 class="mb-0">State</h6>
                                </div>
                                <div class="col-md-2 mt-3">
                                    <p class="mb-0">{{ customer.shipstate }}</p>
                                </div>
                                <div class="col-md-2 mt-3 vl">
                                    <h6 class="mb-0">Pincode</h6>
                                </div>
                                <div class="col-md-2 mt-3">
                                    <p class="mb-0">{{ customer.shippincode }}</p>
                                </div>
                                <div class="col-md-2 mt-3 vl">
                                    <h6 class="mb-0">Country</h6>
                                </div>
                                <div class="col-md-2 mt-3">
                                    <p class="mb-0">{{ customer.shipcountry }}</p>
                                </div>
                            </div>
                            <hr class="my-4">
                        </div>
                    </div>
                    <div class="col-lg-4 bg-grey">
                        <div class="p-5">
                            <h3 class="fw-bold mb-5 mt-2 pt-1">GST</h3>
                            <hr class="my-4">
                            <div class="d-flex justify-content-between mb-4">
                                <h5 class="">GSTIN</h5>
                                <h6>{{ customer.gstin }}</h6>
                            </div>
                            <h5 class="mb-3">GST Type</h5>
                            <div class="mb-4 pb-2">
                                {{customer.gsttype }}
                            </div>
                            <div class="d-flex justify-content-between mb-4">
                                <h5 class="">PAN Number</h5>
                                <h6>{{ customer.panno }}</h6>
                            </div>
                            <div class="d-flex justify-content-between mb-4">
                                <h5 class="">status</h5>
                                <h6>{{ customer.status }}</h6>
                            </div>
                            <hr class="my-4">
                            
                            <div>
                                <center>
                                    <a href="{% url 'editcustomer' customer.customerid %}" class=" fa fa-pencil btn btn-outline-info rounded-pill text-grey mt-3 mb-3" role="button">
                                        Edit
                                    </a>&nbsp;&nbsp;&nbsp;
                                    <!-- <a href="{% url 'deletecustomer' customer.customerid %}" >
                                        Delete
                                    </a> -->
                                    <a   class="btn btn-outline-info rounded-pill text-grey mt-3 mb-3" role="button"> 

                                        <form  action="{% url 'deletecustomer' customer.customerid %}"   > 
                                           <i class="fa fa-trash-o delete"> Delete</i>
                                           <input name="_method" type="hidden" value="DELETE">
                                           
                                           </form> </a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>

$('.delete').click(function(event) {
    var form =  $(this).closest("form");
    var name = $(this).data("name");
    event.preventDefault();
    swal({
        title: `Are you sure you want to delete this record?`,
        text: "If you delete this, it will be gone forever.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            swal("Poof! Your imaginary file has been deleted!", {
            icon: "success" ,
      
            });
            form.submit();

            
            
            
            }
    });
});

    </script> 

{% endblock %}